<%- include("partials/header") -%>

    <h1>
        <%= postTitle %>
    </h1>
    <p>
        <%= postContent %>
    </p>

    <h2>
        <%= errorMsg %>
    </h2>

<%- include("partials/footer") -%>